*{
    font-family: 'Righteous', cursive;
  }
.centre{
   
    margin: 0px 0px 0px 20px;
    height: 140px;
  }

h1{
    color:purple;
    font-size: 30px;
    margin: -10px 5px 0px 0px;
}
    
h2{
    color: plum;
    text-align: center;
    font-size: 50px;
    margin: 0px 0px 0px 0px;
    
}
form{
    margin:10px auto ;
    width:320px;
    color:purple ;
}

input{
    padding: 10px;
    font-size: inherit;
}
input[type="text"]{
    display: block;
    margin-bottom: 15px;
    width:100% ;
    border: 2px solid purple;
}

input[type="numbers"]{
    display: block;
    margin-bottom: 15px;
    width:100% ;
    border: 2px solid purple;
}
input[type="date"]{
    display: block;
    margin-bottom: 15px;
    width:100% ;
    border: 2px solid purple;
}
input[type="submit"]{
    width:344px ;
    height:45px ;
    border:none ;
    background-color: plum ;

}




.btn {
    background-color: purple;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Righteous', cursive;
}
.btn:hover{
background-color:palevioletred;
}
.button{
text-align: center;
margin: -80px 0px 20px 0px;
}
#facebook{
height: 65px;

}
#instagram{
height:65px ;
}

img{
height:60px;
}


#imagesMain {
padding: 0;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
text-align: center;
}

#imagesMain img {
vertical-align: middle;
}

#facebook{
    height: 65px;
    
}
#instagram{
    height:65px ;
}

img{
    height:60px;
}


#imagesMain {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
  }
  #imagesMain img {
    vertical-align: middle;
  }

